<!DOCTYPE html>
<html lang="en">
  <head>
  
    <title>Ming's Diner</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="main.css">


  </head>
<body>

<nav class="navbar navbar-expand-md">
  <a class="navbar-brand" href="#"><img src="images/noodle.png" alt=""></a>
  <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="main-navigation">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<header class="page-header header container-fluid">
<div id=home class="description">
  <h1>Welcome to Ming's Diner!</h1>
  <p>Experience the art of Chinese dining. </p>
  <a class="btn btn-primary" href="#features" role="button">Tell Me More!</a>
</div>
<div class="overlay"></div>

</header>
    <div id=about class="container about">
		<h3 class="feature-title">About Us</h3>
		<p>We believe that there is no greater love than the love for food and when it comes to taste there is nothing like Chinese food. Started in 1960, our goal is to serve authentic Chinese, Cantonese and Thai food, catering to all your needs without burning a hole in your pocket.</p>
		</div> 
	</div>
	<div id=features class="container-fluid features">
  		<div class="row">
    	<div class="col-lg-4 col-md-4 col-sm-12">
      		<h3 class="feature-title">Chow Mein</h3>
      		<img src="images/column-1.jpeg" class="img-fluid">
      		<p>Made using authentic Cantonese recipes, our varieties of Chow mein are a favourite among the hordes of our customers.</p>
    	</div>
		<div class="col-lg-4 col-md-4 col-sm-12">
	      <h3 class="feature-title">Sushi</h3>
	      <img src="images/column-2.jpeg" class="img-fluid">
	      <p>This traditional Japanese dish redefined with a blend of Chinese seasoning is another crowd favourite at Ming's.</p>
	    </div>
    	<div class="col-lg-4 col-md-4 col-sm-12">
	      <h3 class="feature-title">Dumplings</h3>
	      <img src="images/column-3.jpeg" class="img-fluid">
	      <p>At Ming's you'll find dumplings for every mood and every whim. Filled with meat, fish, cheese, vegetables, fruits or sweets, our broad range of dumplings are sure to make your mouth water.</p>
	    </div>
    </div>
	</div>
    <div id=contact class="container contact">
		<h3 class="feature-title">Get in Touch!</h3>
		<div class="form-group">
		  <input type="text" class="form-control" placeholder="Name" name="">
		</div>
		<div class="form-group">
		  <input type="email" class="form-control" placeholder="Email Address" name="email">
		</div>
		<div class="form-group">
		  <textarea class="form-control" rows="4"></textarea>
		</div>
		<input type="submit" class="btn btn-secondary btn-block" value="Send" name="">
		</div> 
	</div>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="main.js"></script>
</body>

<footer class="page-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12">
	      <h6 class="text-uppercase font-weight-bold">Additional Information</h6>
	      <p>Founded in 1960, Ming's is a family owned Chinese restaurant specialized in Szechuan cuisine.</p>
     </div>
     <div class="col-lg-4 col-md-4 col-sm-12">
	      <h6 class="text-uppercase font-weight-bold">Contact</h6>
	      <p>1640 Riverside Drive, Hill Valley, California
	      <br/>info@mings.com
	      <br/>+ 01 234 567 88
	      <br/>+ 01 234 567 89</p>
	  </div>
  </div>
</div>
</footer>

</html>
